// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

.example-full-width {
  width: 100%;
}


textarea.mat-input-element {
  padding: 0;
  margin: -2px 0;
}

.spacing-top{
  margin-top: 20px;
  padding-top: 20px;
  background-color: white;
}

@media (max-width: 575.98px) {

  .spacing-top{
    margin-top: 0px;
  }
}


