
<div class="container mat-elevation-z8 spacing-top"  >
  <form class="example-form" [formGroup]="form"  (submit)="submit()" >
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name *" formControlName="firstName"  />
          <mat-error *ngIf="form.controls.firstName.hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name *"  formControlName="lastName" />
          <mat-error *ngIf="form.controls.lastName.hasError('StartWithLetters')">
            Last Name has to <strong>start with a letter</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row"  formGroupName="stateZipGroup" style="margin-left: -5px; margin-right: 0; padding-top: 5px;"
      [ngClass]="{'invalid-field': form.get('stateZipGroup').errors ||
         ((form.get('stateZipGroup.zipCode').touched || form.get('stateZipGroup.zipCode').dirty) &&
          !form.get('stateZipGroup.zipCode').valid  )}" >
      <div class="col-md-3 " style="padding-left: 5px">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Zip Code *" formControlName="zipCode"  />
          <mat-error *ngIf="form.controls.lastName.hasError('StartWithLetters')">
            Zip Code is  <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3 ">
        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="State *"  formControlName="state" />

        </mat-form-field> -->
        <mat-form-field class="example-full-width">
          <mat-label> State *</mat-label>
          <mat-select formControlName="state">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of usStates" [value]="state.StateCode">
              {{state.StateFullName}}
            </mat-option>

          </mat-select>
          <mat-error>
            State is <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-5 " style="display: flex; align-items: center;"
          *ngIf="form.get('stateZipGroup').errors ||
          ((form.get('stateZipGroup.zipCode').touched || form.get('stateZipGroup.zipCode').dirty) &&
           !form.get('stateZipGroup.zipCode').valid  )" >
        <strong class="text-danger">Invalid Zip Code for selected state</strong>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="margin-top: 40px;padding-bottom: 24px;">
      <div class="col-12">
        <button type="submit" class="btn btn-success float-md-right">Submit Form</button>
      </div>
    </div>
  </form>
</div>
